<% include ../partials/header %>
<div class="container">
    <h1><%= runner.nameGiven %> <%= runner.nameFamily %></h1>
    
    <table>
        <tr>
            <th>Datum</th>
            <th>Namn</th>
            <th>Klass</th>
            <th>Godk채nd</th>
            <th>Placering</th>
            <th>Startande</th>
            <th>Lag & Str채cka</th>
            <th>Po채ng</th>
        </tr>
            <% var comps = runner.competitions %>
            <% comps.sort(function(a, b){ return a.date.localeCompare(b.date)}) %>
            <% comps.forEach(function(comp) { %>
                <tr>
                    <td><%= comp.date %></td>
                    <td><%= comp.name %></td>
                    <td><%= comp.className %></td>
                    <% if (comp.resultOk) { %>
                        <td>OK</td>
                    <% } else { %>
                        <td>-</td>
                    <% } %>
                    <td><%= comp.positionStr %></td>
                    <td><%= comp.starts %></td>
                    <% if (comp.relay) { %>
                        <td><%= comp.relayTeam %>, str채cka <%= comp.relayLeg %></td>
                    <% } else { %>
                        <td></td>
                    <% } %>
                    <td><%= comp.points %></td>
                </tr>
            <% }); %>
    </table>
    <% if (compType == "orionpokalen") { %>
        <a href="/orionpokalen/<%= year %>" class="btn btn-primary mt-3">Tillbaka</a>
    <% } else { %>
        <a href="/orion1000/<%= year %>" class="btn btn-primary mt-3">Tillbaka</a>
    <% } %>
</div>

<% include ../partials/footer %>
